<%- include('./_includes/_head') %>

<body>
  <%- include('./_includes/_header') %>
  <main>
    <h1><%= title %></h1>
    <h2>Médicos Cadastrados:</h2>
    <%- include('./_includes/_doctorList') %>
  </main>
  <%- include('./_includes/_footer') %>
</body>
